//- doctype html
//- html
//-   head
//-     title= title
//-     link(rel='stylesheet', href='/stylesheets/style.css')
//-   body
//-     block content
doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/bootstrap.min.css')
    script(src="/bootstrap/bootstrap.bundle.min.js") 
    //- script
    //-   include ../public/chart/d3/d3.min.js
    //- script
    //-   include ../public/chart/js/drawChart.js
    //- script
    //-   include ../public/timedisplay.js
    //- script
    //-   include ../tools/createGraph.js
    //- script
    //-   include ../tools/createReport.js
  body
    //- img(src="/img/logo_bortek.png", alt="Бортек" id="logo")
    //- div(id="timedisplay")
    //- div.user-tools
    //-   - if (userData) {
    //-     h4 #{userData.displayName}
    //-     a(id="logout" class="btn btn-outline-secondary" href="/login/logout") Выйти
    //-   - }
    block content
    script(src="/bootstrap/popper.min.js")
    script(src="/bootstrap/bootstrap.min.js")